{% extends 'base.html.twig' %}

{% block body %}
<form action="/api/posts" class="create-post" method="POST">
    <div>
        <label for="content">Content</label>
        <input type="text" name="content">
    </div>
    <div>
        <label for="username">username</label>
        <input type="text" name="username">
    </div>
    <div>
        <input type="number" name="thread_id" value="{{thread.id}}" readonly style="visibility: hidden;">
    </div>
    <button type="submit">Submit</button>
</form>


<div class="thread-container">
    <div class="flex">
        <p>{{ thread.id }}</p>
        <p>----</p>
        <p>{{ thread.created_ad }}</p>
    </div>
    <div>
        <p>{{ thread.content }}</p>
    </div>
</div>
{% for post in posts %}
<div class="post-controller">
    <div class="flex">
        <p>{{ post.id }}</p>
        <p>----</p>
        <p>{{ post.created_ad }}</p>
    </div>
    <div>
        <p>{{ post.content }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}